<template>
  <div class="app">
  <login></login>
  <formulario></formulario>
  </div>
</template>

<script>
import login from './components/login.vue'
import Ussuarios from './components/formulario.vue'
export default{
  name: 'app',
  components:{
    login,
    formulario
  }
}
</script>
    